USE [Яхт.Верфь]
GO
/****** Object:  Table [dbo].[AccessoriesToBoat]    Script Date: 02.12.2021 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessoriesToBoat](
	[Fit_ID] [int] NOT NULL,
	[Accessory_ID] [int] NOT NULL,
	[Boat_ID] [int] NOT NULL,
 CONSTRAINT [PK_AccessoriesToBoat] PRIMARY KEY CLUSTERED 
(
	[Fit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accessory]    Script Date: 02.12.2021 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessory](
	[Accessory_ID] [nchar](10) NOT NULL,
	[AccName] [nvarchar](max) NOT NULL,
	[DescriptionOfAccessory] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
	[VAT] [float] NOT NULL,
	[Inventory] [int] NOT NULL,
	[OrderLevel] [int] NOT NULL,
	[OrderBatch] [int] NOT NULL,
	[Partner_ID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Accessory] PRIMARY KEY CLUSTERED 
(
	[Accessory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boat]    Script Date: 02.12.2021 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boat](
	[boat_ID] [nchar](10) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[BoatType] [nvarchar](50) NOT NULL,
	[NumberOfRowers] [int] NOT NULL,
	[Mast] [nvarchar](50) NOT NULL,
	[Colour] [nvarchar](50) NOT NULL,
	[Wood] [nvarchar](50) NOT NULL,
	[BasePrice] [money] NOT NULL,
	[VAT] [int] NOT NULL,
 CONSTRAINT [PK_Boat] PRIMARY KEY CLUSTERED 
(
	[boat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 02.12.2021 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[Order_ID] [nchar](10) NOT NULL,
	[Date] [date] NOT NULL,
	[Salesperson_ID] [nchar](10) NOT NULL,
	[Customer_ID] [nchar](10) NOT NULL,
	[Boat_ID] [nchar](10) NOT NULL,
	[DeliveryAddress] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 02.12.2021 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_ID] [nchar](10) NOT NULL,
	[FistName] [nvarchar](max) NOT NULL,
	[FamilyName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[OrganisationName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[IDNumber] [nvarchar](50) NOT NULL,
	[IDDocumentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 02.12.2021 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_ID] [nchar](10) NOT NULL,
	[Contract_ID] [int] NOT NULL,
	[Settled] [nvarchar](50) NOT NULL,
	[Sum] [money] NOT NULL,
	[Sum_inclVAT] [float] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 02.12.2021 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Contarct_ID] [nchar](10) NOT NULL,
	[Date] [date] NOT NULL,
	[DepositPayed] [nvarchar](50) NOT NULL,
	[Order_ID] [int] NOT NULL,
	[ContractTotalPrice] [nvarchar](50) NOT NULL,
	[ContracTotalPrice_inclVAT] [nvarchar](50) NOT NULL,
	[ProductionProcess] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Contarct_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order details]    Script Date: 02.12.2021 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order details](
	[Detail_ID] [nchar](10) NOT NULL,
	[Accessory_ID] [nchar](10) NOT NULL,
	[Order_ID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Order details] PRIMARY KEY CLUSTERED 
(
	[Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner]    Script Date: 02.12.2021 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[Partner_ID] [nchar](10) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[Partner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesPerson]    Script Date: 02.12.2021 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesPerson](
	[SalesPerson_ID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[FamilyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SalesPerson] PRIMARY KEY CLUSTERED 
(
	[SalesPerson_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Statistic [PK_AccessoriesToBoat]    Script Date: 02.12.2021 11:10:22 ******/
UPDATE STATISTICS [dbo].[AccessoriesToBoat]([PK_AccessoriesToBoat]) WITH STATS_STREAM = 0x01000000010000000000000000000000073468900000000040000000000000000000000000000000380300003800000004000A000000000000000000E2030000, ROWCOUNT = 58, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Accessory]    Script Date: 02.12.2021 11:10:22 ******/
UPDATE STATISTICS [dbo].[Accessory]([PK_Accessory]) WITH STATS_STREAM = 0x01000000010000000000000000000000B5A1D20A0000000040000000000000000000000000000000EF030000EF000000140000000000000015D0000038000000, ROWCOUNT = 14, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Boat]    Script Date: 02.12.2021 11:10:22 ******/
UPDATE STATISTICS [dbo].[Boat]([PK_Boat]) WITH STATS_STREAM = 0x01000000010000000000000000000000B5A1D20A0000000040000000000000000000000000000000EF030000EF000000140000000000000015D0000038000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Contract]    Script Date: 02.12.2021 11:10:22 ******/
UPDATE STATISTICS [dbo].[Contract]([PK_Contract]) WITH STATS_STREAM = 0x01000000010000000000000000000000B5A1D20A0000000040000000000000000000000000000000EF030000EF000000140000000000000015D0000038000000, ROWCOUNT = 8, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Customers]    Script Date: 02.12.2021 11:10:22 ******/
UPDATE STATISTICS [dbo].[Customers]([PK_Customers]) WITH STATS_STREAM = 0x01000000010000000000000000000000B5A1D20A0000000040000000000000000000000000000000EF030000EF000000140000000000000015D0000038000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Invoice]    Script Date: 02.12.2021 11:10:22 ******/
UPDATE STATISTICS [dbo].[Invoice]([PK_Invoice]) WITH STATS_STREAM = 0x01000000010000000000000000000000B5A1D20A0000000040000000000000000000000000000000EF030000EF000000140000000000000015D0000038000000, ROWCOUNT = 24, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Order]    Script Date: 02.12.2021 11:10:22 ******/
UPDATE STATISTICS [dbo].[Order]([PK_Order]) WITH STATS_STREAM = 0x01000000010000000000000000000000B5A1D20A0000000040000000000000000000000000000000EF030000EF000000140000000000000015D0000038000000, ROWCOUNT = 8, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Order details]    Script Date: 02.12.2021 11:10:22 ******/
UPDATE STATISTICS [dbo].[Order details]([PK_Order details]) WITH STATS_STREAM = 0x0100000001000000000000000000000011467D410000000040000000000000000000000000000000EF030000EF000000140000000000000015D00000E2030000, ROWCOUNT = 51, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Partner]    Script Date: 02.12.2021 11:10:22 ******/
UPDATE STATISTICS [dbo].[Partner]([PK_Partner]) WITH STATS_STREAM = 0x01000000010000000000000000000000952051B10000000040000000000000000000000000000000EF030000EF000000140000000000000015D00000EF000000, ROWCOUNT = 7, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_SalesPerson]    Script Date: 02.12.2021 11:10:22 ******/
UPDATE STATISTICS [dbo].[SalesPerson]([PK_SalesPerson]) WITH STATS_STREAM = 0x01000000010000000000000000000000835244600000000040000000000000000000000000000000380300003800000004000A000000000000000000EF000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
